body{
    margin:0px;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;

}
header{
    padding:20px;
    width:90%;
}
#main-header{
    padding-bottom:0px;
    position:fixed;
    top:0px;
    z-index: 1;
    background-color: white;
}
#main-header #hdbt{
    text-decoration:none;
}
#main-header #hdbt #logoWord{
    font-weight: bold;
    font-size: 0.85em;
    line-height: 1.5rem;
    margin-left: 1em;
    color: #000000;
}
#main-header #webIcon img{
    margin-top:18px;
    margin-left:10px;
}
#main-header #words .NavLink{
    text-decoration:none;
}
#main-header #words .navWords{
    font-size: 13px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    color:black;
}
#logoDiv{
    display:grid;
    grid-template-columns:80px 160px;
}
#main-header #words{
    display:grid;
    grid-column-gap:1.8em;
    grid-auto-flow:column;
}
@media(min-width:630px){
#main-header{
    display:grid;
    grid-auto-flow:column;
    grid-template-columns:20fr 30fr 1fr;
}
#main-header #words{
    justify-self:right;
    align-self:center;
}
#main-header #imgLogoDiv{
  display:none;
}
}
@media(max-width:630px)
{
    #main-header{
        display:grid;
        grid-auto-flow:column;
        grid-template-columns:80%  19.5% 0.5%;
    }
    #main-header #words{
        display:none;
    }
    #main-header #imgLogoDiv{
        justify-self:right;
        align-self:center;
    }
}
.wrapper{
    margin-top: 12em;
}
.container{
    width: 80%;
    margin:auto;
}
.headingbox{
    max-width: max-content;
    position: relative;
}
.heading-background{
    background-color: #F8D16C;
    position:absolute;
    width: 80%;
    height: 70%;
    left: 30%;
    bottom: 35%;
    z-index: -1;
}
.heading, .heading1{
    font-family:  Playfair Display;
    font-weight: bold;
    font-size: 5 em;
    color: #3b3736;
}
.container .main{
    color:#878787;
   /* font-size:1.1em;
    line-height:1.2rem;*/
    font-family: Nunito Sans;
}
.gridel{
    margin-top: 100px;
    margin-bottom:100px;
}
.wrapper .gridel .container .button{
    color:#ffffff;
    background-color:#293B52;
    padding: 0.8rem 2rem;
    width: 100px;
}
.container #myDatesheet .htype1{
    font-family: Nunito Sans;
    font-weight: bold;
    font-size: 1em;
    line-height: 1rem;
    color: #9e9e9e; 
    letter-spacing:0.05em;
    padding:5px;
}
.container #myDatesheet .contnt{
    padding:5px;
    font-family: "Nunito Sans";
    font-weight: normal;
    color: rgb(102, 102, 102);
}
.container li{
    margin:0px;
    padding: 15px 20px;
}
.container #myDatesheet{
    list-style:none;
}
.container #myDatesheet li:nth-child(odd){
    background: #f7f7f7;
}
.gridel2 .main1 .dates{
    letter-spacing:0.2px;
    line-height:25px;
}
@media(max-width:1100px)
{
    .image{
        display:none;
    }
    .gridel2 .heading{
        text-align: center;
    }
    .gridel2 .main1{
        display:none;
    }
    .gridel2 .main2 .empty_line9{
        margin-left: 50%;
        background-color: #F8D16C;
        width:5px;
        height:80px;
    }
    .gridel2 .main2 .dates9{
        text-align: center;
        letter-spacing:0.2px;
        line-height:25px;
        margin-top:3px;
        margin-bottom:3px;

    }

}
@media(min-width:1100px)
{
    
    .gridel1{
        display:grid;
        grid-template: 1fr 1fr/400px 1fr 700px;
    }
    .image1{
        grid-area: 1/1/3/2;
        justify-self: center;
        align-self:center;
        padding-left: 30%;
    }
    .para1{
        grid-area:1/3/2/4;
        justify-self:center;
        align-self: center;
    }
    .para2{
        grid-area:2/3/3/4;
        justify-self:center;
        align-self: center;
    }
    .gridel3{
        display:grid;
        grid-template:1fr/600px  400px;
        justify-content: space-around;

    }
    .image2{
        grid-column-start:2;
        justify-content:center;
    }
    .para4{
        justify-content: center;
    }
    .container .hd1 h1{
        text-align:center;
    }
    .gridel2 .main2{
        display:none;
    }
    .gridel2 .main1 .box{
        display:grid;
        grid-auto-flow:column; 
    }
    .gridel2 .main1 #empty_line{
        background-color: #F8D16C;
        height:5px;
    }
    .gridel2 .main1 .blck1{
        display:grid;
        grid-auto-flow:column;
        justify-content: space-between;
    }
    .gridel2 .main1 .blck2{
        display:grid;
        grid-auto-flow:column;
        justify-content: space-around;
    }
    .gridel2 .main1{
        display:grid;
        grid-template:1fr 5px 1fr/1fr;
    }
    .gridel2 .main1 .dates{
        align-self:center;
        justify-self: center;
    }
    .gridel .event_icon{
        margin-right:10px;
    }
    .main1 .blck3{
        padding-left:36px;
    }
}
#main-footer{
    background:#293B52;
    margin-top:30px;
    margin-bottom:0px;
    border-bottom:0px;
    height:60px;
    width:80%;
    padding-top:0px;
    padding-left:10%;
    padding-right:10%;
}
#icons
.icon{
    margin-left:5px;
    margin-right:5px;
    width:auto;
}
.navword{
    color:#F8D16C;
    text-decoration:none;
    text-transform:uppercase;
    font-size:0.8em;
    font-family: Nunito Sans;
    font-style: normal;
    margin-left:15px;
    margin-right:15px;
}
@media(min-width:630px)
{
#main-footer{
    display:grid;
    grid-template-columns:40% 60%;  
    justify-content:space-between;  
}
.nav-words{
    justify-self:end;
    align-self:center;
}
#icons{
    justify-self:start;
    align-self:center;
}}

@media(max-width:630px)
{
    #main-footer{
        display:grid;
        grid-template-columns:1fr 5fr 1fr;  
    }
    .nav-words{
        display:none;
    }
    #icons{
        grid-column-start:2;
        justify-self:center;
        align-self:center;
    }
}